{
  "Updater": {
    "Host": "abdm.rosdt.ru",
    "User": "ABDM-PORTAL\\a.kartavykh",
    "Password": "REPLACE_ME"
  },
  "PortalSsh": {
    "Host": "10.10.57.233",
    "Port": 22,
    "User": "abdmsa",
    "Password": "REPLACE_ME"
  }
}
